@model IEnumerable<MvcRepasoexamen.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Peliculas" asp-action="Create" class="btn btn-outline-danger">Create Peli</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGenero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPelicula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGenero)
            </td>
            <td>
                <a asp-controller="Peliculas" asp-action="Edit" asp-route-id="@item.IdPelicula" class="btn btn-outline-success">Edit</a>
                <a asp-controller="Peliculas" asp-action="Delete" asp-route-id="@item.IdPelicula" class="btn btn-outline-danger">Delete</a>
                <a asp-controller="Peliculas" asp-action="Details" asp-route-id="@item.IdPelicula" class="btn btn-outline-info">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
